*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body{
    width: 100%;  
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
}

input{
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 10px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}