*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(58, 58, 58);
}
main{
    height: 100%;
    width: 100%;
    display: flex;

    gap: 10px;
    flex-wrap: wrap;
}
.shoe-card{
    height: fit-content;

    padding: 10px;
    border-radius: 10px;
    position: relative;
    color: white;
    overflow: hidden;
    z-index: 1;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}
.images{
    height: 300px;
    position: relative;
    width: 225px;
    display: flex;
    overflow: hidden;
    gap: 20px;
}
.shoe-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.808);
    z-index: -1;
}

.img1{
    top: 0;
    left: 0;
     position: absolute;
    width: 225;
    border-radius: 8px;
    object-fit: cover;
        height: 300px;
        object-position: center;
        /* transform: translateX(100%); */
            transition: all ease .5s;

        
        
    }
    .img2{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 300px;
    object-position: center;
    transition: all ease .5s;

}
    .img3{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 8px;
    object-fit: cover;
    height: 300px;
    object-position: center;
    transition: all ease .5s;

}
.transform{
        transform: translateX(-100%);
}
.color{
    display: flex;
    gap: 2px;
}
.color div{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    height: 15px;
    width: 15px;

}
.shoe-card h5{
    color: rgba(255, 255, 255, 0.644);
}
.shoe-card button{
    padding: 5px 8px;
    border: none;
    background-color: rgba(66, 66, 66, 0.616);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.shoe-card button:active{
    transform: scale(.95);
}
.right{
    position: absolute;
    top: 30%;
    right: 10px;
    z-index: 100;
}
.left{
    z-index: 100;
        position: absolute;
    top: 30%;

}
.main{
    font-weight: 900;
    padding: 20px; 
    background-color: white;
    height: 100%;
    width: 100%;
}

.main>h1{
    margin-bottom: 20px; 
    font-size: 50px;
}


