*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    font-size: 100px;
    color: white;
}

button{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(79, 149, 255);
}

