/* ## 2. Random Color Card Generator

Create a card on button click. Generate a random RGB background color
using `Math.floor()` and `Math.random()`. Set a random width and height.
Assign a unique `data-id` using `setAttribute()`. */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(42, 42, 42);
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}
