*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html, body{
    width: 100%; 
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1{
    font-size: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
button{ 

    padding: 10px 30px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(79, 149, 255);
}
