*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.traffic{
    display: flex;
    gap: 10px;
}
.red{
    border-radius: 50%;
    background-color: red;
    height: 100px;
    width: 100px;

}
.yellow{
    border-radius: 50%;
    background-color:yellow;
    height: 100px;
    width: 100px;

}
.green{
    border-radius: 50%;
    background-color:rgb(114, 190, 0);
    height: 100px;
    width: 100px;

}
.stop{
    background-color: red;
}
.ready{
    background-color:yellow;
}
.go{
    background-color:rgb(114, 190, 0);
}
button{
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(79, 149, 255);
}

