*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}
.main{
    padding: 20px;
    height: 100%;
    width: 100%;
    background-color:rgb(47, 47, 47);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(255, 252, 252);
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card img{
    object-fit: cover;
    height: 200px;
    object-position: center;

}

.card p{
    margin: auto;
    color: red;
    font-weight: 900;
    font-size:20;
}
button{
    margin: auto;
    /* width: 200px; */
    padding: 10px 20px;
    background-color: rgb(134, 199, 255);
    border: none;
    border-radius: 10px;
    font-weight: 700;
}
button:active{
    scale: .9;
}