*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.mainstyle{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    gap: 20px;
}

.align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dice1,.dice2{
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roll{
    padding: 4px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;

}



